.about {
  padding-top: 120px;
  margin-bottom: -1px;
}

.about__title {
  margin: 0; 
}

.abount__line {
  margin: 25px 0 40px;
  border-color: #252330;
  border-width: 1px;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__list-item { margin-bottom: 1em }
.about__list-item:first-of-type { transform: rotate(180deg) }
.about__list-item:nth-of-type(5), 
.about__list-item:first-of-type,
.about__list-item:last-of-type { margin-bottom: 3em }
.about__list-item:last-of-type, .about__list-item:first-of-type { text-align: center }

.about__content {
  display: flex;
  justify-content: space-between;
}

.about__image {
  width: 38%;
  object-fit: contain;
  object-position: bottom;
}

@media (max-width: 1200px) {
  .about__list-item:last-of-type, .about__list-item:first-of-type { display: none; }
  .about__list { display: block }
}
@media (max-width: 980px) {
  .about__content {
    flex-direction: column;
    align-items: center;
  }
  .about__image { width: 100%; }
}
@media (max-width: 500px) {
  .about { padding-top: 50px; }
}