.details {
  padding-top: 120px;
  padding-bottom: 80px;
}

.details__title {
  margin: 0;
  text-align: center;
}

.details__subtitle {
  margin: 40px auto 0;
  text-align: center;
  max-width: 900px;
}

.details__3d {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.details__3d:nth-of-type(2) .details__3d-image { order: 3; }
.details__3d:nth-of-type(2) .details__3d-posttext { order: 1; }
.details__3d:nth-of-type(2) .details__works-line { order: 2; }

.details__3d-image {
  width: calc(50% - 72px / 2);
  object-fit: cover;
}

.details__3d-title {
  margin: 0;
  max-width: 620px;
  font-family: Neumann, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 54px;
}

.details__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 72px / 2);
  padding: 20px 0;
}

.details__3d-text {
  margin: 25px 0 0;
  max-width: 620px;
}

.details__3d-posttext {
  margin: 35px 0 0;
  width: 100%;
}

.details__3d-list { list-style-type: none; padding: 0 0 0 7px; margin: 10px 0 0 0; }
.details__3d-list-item { margin-bottom: 7px; }
.details__3d-list-item::before { content: '– '; }

.details__works-line {
  margin: 0 35px;
  border: 1px solid #E8CDA1;
}


@media screen and (max-width: 970px) {
  .details {  padding-top: 50px; }
  .details__3d { flex-direction: column; }
  .details__3d-image { order: 2 !important; width: 100%; align-self: center; }
  .details__3d-posttext { order: 3 !important; }
  .details__works-line { order: 4 !important; margin: 50px 0 0; }
  .details__text-container { order: 1; width: 100%; }
}
@media (max-width: 500px) {
  .details__3d-title { font-size: var(--title-size); line-height: var(--title-lineheight); }
}