.footer {
  background-color: #252330;
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}

.footer__first {
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-gap: 20px;
  flex-wrap: wrap;
}

.footer__logo {
  width: 50%;
  max-width: 200px;
}

.footer__second {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;
}

.footer__partner-logo { 
  display: inline-block; 
  object-fit: contain; 
  width: calc((100% - 10px * 5) / 6); 
  background-color: #fff;
  box-sizing: border-box;
}

.footer__link {
  text-decoration: underline;
  display: flex;
  justify-content: right;
  align-items: center;
  transition: transform .4s;
}
.footer__link::before {
  content: '';
  display: block;
  width: 26px;
  height: 23px;
  background: center/contain no-repeat;
  margin-right: 15px;
  flex-shrink: 0;
}
.footer__link_email::before { background-image: url(../images/email-icon.svg) }
.footer__link:hover { transform: scale(1.1) }

.footer__line {
  width: 100%;
  margin: 20px 0;
}

.footer__last-data {
  display: flex;
  justify-content: space-between;
  grid-gap: 5px 20px;
  width: 100%;
}

.footer__rights {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #9C9C9C;
}


@media screen and (max-width: 960px) {
  .footer { padding-top: 55px; padding-bottom: 15px; }

  .footer__line:first-of-type { margin: 15px 0; }
  .footer__line:last-of-type { order: 2; margin: 15px 0; }
  .footer__last-data { order: 3; flex-wrap: wrap; }
}
@media (max-width: 768px) {
  .footer__partner-logo { 
    width: calc((100% - 20px * 3) / 4); 
  }
}
@media (max-width: 480px) {
  .footer__partner-logo { 
    width: calc((100% - 20px * 2) / 3); 
  }
}