.header {
  padding-top: 25px;
  padding-bottom: 25px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  z-index: 5;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 20px;
}

.header__mail-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  text-decoration: underline;
  transition: transform .4s;
}
.header__mail-link:hover {
  transform: scale(1.1);
}
.header__mail-link-icon {
  aspect-ratio: 21/14;
  width: 32px;
}
.header__mail-link-text {
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 6px;
}

@media (max-width: 860px) {
  .header__logo-link { display: inline-block; width: 35%; min-width: 165px; max-width: 190px; }
  .header__logo { width: 100%; }
  .header__mail-link-text { display: none; }
  .header__mail-link-icon { width: 54px; }
}
@media (max-width: 430px) {
  .header__mail-link-text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 6px;
  }
}