.projects {
  padding-top: 120px;
  padding-bottom: 50px;
}

.projects__title {
  margin: 0 0 40px;
  text-align: center;
}

.project__wrapper {
  margin-bottom: 70px;
}

.project {
  display: flex;
  color: #fff;
  overflow-x: scroll;
  height: 500px;
  box-shadow: 0 0 15px 0 #555;
  position: relative;
}
.project__directions {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  margin-bottom: 20px;
  font-family: Neumann, 'Times New Roman', Times, serif;
  text-transform: uppercase;
}
.project__direction { 
  margin: 0; 
  display: flex;
  cursor: pointer;
  transition: transform .4s;;
}
.project__direction_left:hover { transform: translate(-10px); }
.project__direction_right:hover { transform: translate(10px); }
.project__direction_left::before, .project__direction_right::after { 
  content: '';
  width: 16px;
  aspect-ratio: 16/12;
  display: block;
}
.project__direction_left::before { 
  background: center/contain url(../images/project/arrow.svg) no-repeat;
  margin-right: 7px;
  transform: rotate(180deg);
}
.project__direction_right::after { 
  background: center/contain url(../images/project/arrow.svg) no-repeat;
  margin-left: 7px;
}
.project__image {
  height: 100%;
  object-fit: contain;
}
.project__container {
  background: #252330;
  padding: 30px 20px;
  position: relative;
  min-width: 400px;
  box-shadow: 0 0 12px 1px #333;
  box-sizing: border-box;
}
.project__title {
  font-family: Neumann, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 59px;
  margin: 0;
}
.project__subtitle {
  margin: 27px 0 0;
}
.project__list {
  margin: 20px 0 0;
  list-style-type: "–  ";
  padding: 0 0 0 21px;
  line-height: 1.7;
}
.project__data {
  max-width: 250px;
  margin-top: 20px;
}
.project__square-title {
  margin: 0;
  font-family: Neumann, 'Times New Roman', Times, serif;
  font-size: 42px;
  line-height: 61px;
}
.project__square-measure {
  font-size: 24px;
  line-height: 35px;
}
.project__square-text {
  color: #9C9C9C;
  margin: 0;
  font-size: 15px;
  line-height: 1.2;
}


@media screen and (max-width: 990px) {
  /* .project__image { overflow-x: scroll; padding-bottom: 25px; scrollbar-color: #5B678E #E1E1E1; scrollbar-width: 4px; } */
  .project__image::-webkit-scrollbar { height: 4px; background-color: #E1E1E1; border-radius: 50px; }
  .project__image::-webkit-scrollbar-thumb { height: 4px; background-color: #5B678E; border-radius: 50px; }
}
@media (max-width: 768px) {
  .projects {
    padding-top: 50px;
    padding-bottom: 0;
  }
}
@media (max-width: 500px) {
  .project__directions {
    column-gap: 40px;
  }
  .project {
    height: 430px;
  }
  .project__container {
    width: calc(100vw - 50px - 20px);
    min-width: auto;
    flex-shrink: 0;
  }
  .project__title {
    font-size: var(--title-size);
    line-height: var(--title-lineheight);
  }
}